.App {
  text-align: center;
}
input,
button {
  text-align: center;
  margin: 10px 0;
}

h1,
h2 {
  font: 1.5em Alice, "Palatino Linotype", "Book Antiqua", Palatino, serif;
  line-height: 0.1em;
  padding: 1px;
}

.App-header {
  background-color: #142036;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
